<div align="center">
	<h2>Welcome to to do page.</h2>
	<p>This page lists some of the things that I would like to complete before launching the beta version.</p>

	<div id="list">
		<ul>
			<li>Logo</li>
			<li>Home page design (in progress)</li>
		</ul>
	</div>

</div>